venv/
**/venv/
__pycache__/
**/__pycache__/
*.pyc
.vscode/
.idea/
.claude/
.env
node_modules/
package.json
package-lock.json
*.pth
*.pkl
*.npz
*.keras
*.zip
*.csv
*.npz
.ipynb_checkpoints/
**/.ipynb_checkpoints/